body{
  background-color: black;
}
.container {
  width: 50px;
  margin: 100px auto;
  cursor: pointer;
}

.bar {
  width: 35px;
  height: 5px;
  background-color: white;
  border-radius: 10px;
  margin: 6px 0;
  transition: 0.4s;
}

.change .one {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .snd {
  opacity: 0;
  margin-left: 20px;
  transition: 1s;
}

.change .third {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

